eyefi-api.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="https://api.eyefi.com/3">

        <resource path="/users/me">
            <method id="method1" name="GET" apigee:displayName="/users/me">
                <apigee:tags>
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/users/me.{format}"/>
                <doc apigee:url="https://github.com/eyefi/cloud-api-doc/blob/master/endpoints/users.md#get-usersme">
                    Get user.
                </doc>
            </method>
        </resource>

        <resource path="/events">
            <method id="method2" name="GET" apigee:displayName="/events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/events.{format}"/>
                <doc apigee:url="https://github.com/eyefi/cloud-api-doc/blob/master/endpoints/events.md#get-events">
                    Get events.
                </doc>
            </method>
        </resource>

        <resource path="/events/{eventId}">
            <param name="eventId" type="xsd:string" required="true">
                <doc>The Event ID</doc>
            </param>
            <method id="method3" name="GET" apigee:displayName="/events/{eventId}">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/events/900012332.{format}"/>
                <doc apigee:url="https://github.com/eyefi/cloud-api-doc/blob/master/endpoints/events.md#get-eventseventid">
                    Get event.
                </doc>
            </method>
        </resource>

        <resource path="/events/{eventId}/files">
            <param name="eventId" type="xsd:string" required="true">
                <doc>The Event ID</doc>
            </param>
            <method id="method4" name="GET" apigee:displayName="/events/{eventId}/files">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/events/900012332.{format}"/>
                <doc apigee:url="https://github.com/eyefi/cloud-api-doc/blob/master/endpoints/events.md#get-eventseventidfiles">
                    Get event files.
                </doc>
            </method>
        </resource>

    </resources>

</application>
